@charset "utf-8";
/*页面开始*/
.underNone{border-bottom:none;text-align: center;font-size:25px;}
.titleH1{height:40px;line-height:40px;font-size:20px;font-weight:bold;border-bottom:6px;margin-top:10px }
.title li{width:170px;text-align:center;background-color:lightskyblue;font-size:17px;float:left;cursor:pointer;padding:6px 0;}
.title li.cur{background:lightskyblue;color:#ffffff;}
.titleexp li{float:left;margin-right:10px;}
.zong{clear:both;width:1000px;height:450px;overflow:hidden;}
.list{width:6994px;}
.list .tabCon{float:left;width:998px;height:450px;border:1px solid #F2F2F2;border-top:0px ;}
.tabth{width:998px;height:37px;line-height:37px;color:#ffffff;background-color:lightskyblue}
.tabth span{display:inline-block;text-align:center;float:left;font-size: 15px;}
#s1,#s2,#s3,#s4,#s5,#s6,#s7{height:450px;overflow:hidden;}
.tabUl{height:450px;overflow:hidden;background:rgb(158 158 158 / 75%)}
.tabtr{width:1200px;height:40px;*height:38px;line-height:40px;*line-height:38px;}
.tabtr span,.tabtr a{display:inline-block;text-align:center;cursor:pointer;float:left;text-decoration:none;font-size: 15px;}
.clickbtn{border-radius:5px;padding:5px 10px;}
.hot{background:lightskyblue;color:#ffffff;cursor:pointer;}
.pass{background:#b1b2b3;color:#666666;cursor:no-drop;}
span.left.underNone.underLine {
    background: #b6b6b6;
    color: black;
    border-radius: 5px;
}